<!-- <div class="card">
    
    <div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let health of  weights">
                       
                        <td><i class="fa fa-trash"></i>&nbsp;&nbsp;<i class="fa fa-info-circle"></i>{{ health.date|date :'MMMM-dd-yyyy'}}</td>
                        <td>{{health.weight}} lbs</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->
